
* {
margin: 0;
padding: 0;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
box-sizing: border-box;
}

body {
    background: rgb(13,10,61);
    background: linear-gradient(90deg, rgba(13,10,61,0.6502976190476191) 0%, rgba(172,51,177,1) 50%, rgba(20,118,138,0.742734593837535) 100%);
}

.container {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 0;
    height: 100vh;
}


.button-32 {
    background-color: #fff000;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    user-select: none;
    max-width: 200px; /* Set a maximum width for the buttons */
    margin-top: 10px; /* Add some margin between the buttons */
}


.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
outline: 0;
background: #f4e603;
box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-32:disabled {
filter: saturate(0.2) opacity(0.5);
-webkit-filter: saturate(0.2) opacity(0.5);
cursor: not-allowed;
}
